<!DOCTYPE html>
<html>
  <head>

    <%- include('../header.ejs') %>

    <title>Promociones Peugeot - Ecuador</title>
    <meta name="description" content="Encuentra las últimas promociones y novedades acerca de vehículos Peugeot en Ecuador. Motion & Emotion. 301 Diesel | Eurotrip">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css"/>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/landing-eurotrip.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/form-eurotrip.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- include('../gtmBody.ejs') %>

    <div class="pg-landing-301-bg">

      <%- include('form-eurotrip.ejs') %>


    </div>


    <div style="display: none;" class="pg-carrusel animated fadeIn">
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/eurotrip/carrusel/Eurotrip301.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> Vive un Eurotrip en cada recorrido </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/eurotrip/carrusel/Eurotrip3008.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> Vive un Eurotrip en cada recorrido  </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/eurotrip/carrusel/Eurotrip2008.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> Vive un Eurotrip en cada recorrido </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/eurotrip/carrusel/Eurotrip5008.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> Vive un Eurotrip en cada recorrido </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/eurotrip/carrusel/Eurotripinicio.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text">  Vive un Eurotrip en cada recorrido  </span>
        </div>
      </div>
    </div>


    <%- include('../footer.ejs') %>

    <script>
      getDeferrer();
    </script>

  </body>
</html>
