<!DOCTYPE html>
<html>
  <head>

    <%- include('../header.ejs') %>

    <title>Promociones Peugeot - Ecuador</title>
    <meta name="description" content="Encuentra las últimas promociones y novedades acerca de vehículos Peugeot en Ecuador. Motion & Emotion. 301 Diesel | Eurotrip">
    <meta name="robots" content="index, follow">
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/landing-eurotrip.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/form-eurotrip.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- include('../gtmBody.ejs') %>

    <div class="pg-landing-301-bg">

      <%- include('form-eurotrip.ejs') %>


    </div>
    <%- include('../footer.ejs') %>
    
    <script>
      getDeferrer();
    </script>

  </body>
</html>
