<!DOCTYPE html>
<html>
  <head>
    <title>Promociones Peugeot</title>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/landing-postventa.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/form-postventa.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="pg-landing-301-bg">
      <%- include('form-thankyou.ejs') %>
    </div>
    <%- include('../footer.ejs') %>
    <script type="text/javascript">
      setTimeout(function(){ window.location.href = "https://www.peugeot.com.ec/servicios-y-mantenimiento.html"; }, 3000);
    </script>
  </body>
</html>
