<!DOCTYPE html>
<html>
  <head>

    <%- include('../header.ejs') %>

    <title>Promociones Peugeot - Ecuador</title>
    <meta name="description" content="Encuentra las últimas promociones y novedades acerca de vehículos Peugeot en Ecuador. Motion & Emotion. THE LION MOMENT | PEUGEOT 301">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.2/multiple-select.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css"/>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/gamasuv/form.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/gamasuv/landing.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- include('../gtmBody.ejs') %>

    <div class="pg-landing-301-bg">

      <%- include('form.ejs') %>


    </div>


    <div style="display: none;" class="pg-carrusel animated fadeIn">
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/gamasuv/carrusel/carrusel1.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> PEUGEOT GAMA SUV: </strong> Nuestros modelos SUV están diseñados para facilitar la conducción en el día a día. Al combinar confort y utilidad, estos automóviles son perfectos para ir a la escuela, al parque y de vacaciones. Asimismo, los modelos de Peugeot, grandes o pequeños, ofrecen unas sensaciones de conducción que te permiten disfrutar tanto del destino como del trayecto. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/gamasuv/carrusel/carrusel2.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> PEUGEOT GAMA SUV: </strong> Cada uno de los vehículos de nuestra gama de SUV está pensado para maximizar el espacio gracias a la flexibilidad. El gran SUV 5008 utiliza el innovador interior Multi-Flex, que permite plegar seis asientos para adaptarse mejor a tu estilo de vida. Tanto si prefieres un SUV grande o uno compacto, tu Peugeot estará a la altura de las exigencias de la vida de familia. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a></span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/gamasuv/carrusel/carrusel3.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> PEUGEOT SUV 2008: </strong> Como SUV compacto, el nuevo PEUGEOT 2008 presenta una propuesta bien definida. El frontal incorpora innovaciones que contribuyen a su prestancia. Partiendo de los códigos del segmento SUV, su diseño les añade fuerza y robustez. Los pasos de ruedai, la calandra vertical y las talonerasi protegen la carrocería, mientras que las barras del techo y su perfil en forma de ola, el embellecedor de las puertas traseras y el espóiler aportan sofisticación al diseño.<a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/gamasuv/carrusel/carrusel4.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> PEUGEOT SUV 3008: </strong> Una verdadera encarnación del automóvil moderno, seguro, tecnológico, creador de emociones y placer es el Nuevo SUV PEUGEOT 3008. Un vehículo pensado para los conductores que quieren nuevas experiencias alcanzando una interacción intuitiva y sensorial. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/gamasuv/carrusel/carrusel5.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> PEUGEOT SUV 5008: </strong>  Bienvenidos a la nueva dimensión del nuevo SUV PEUGEOT 5008, el que además de potente, de líneas finas, tecnológico y elegante, se ha diseñado pensando exclusivamente en amplificar tu experiencia de conducción. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
    </div>

    <%- include('../footer.ejs') %>

    <script>
      getDeferrer();
    </script>

    <script>
      // Here the mounted function is same as $(function() {})
      function mounted() {
        $('.multipleselect').multipleSelect({
          selectAll: false
        })
      }
      mounted();
    </script>

  </body>
</html>
