<!DOCTYPE html>
<html>
  <head>

    <%- include('../header.ejs') %>

    <title>Promociones Peugeot - Ecuador</title>
    <meta name="description" content="Encuentra las últimas promociones y novedades acerca de vehículos Peugeot en Ecuador. Motion & Emotion. 301 Diesel | Eurotrip">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css"/>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/301marzo/landing-301marzo.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/301marzo/form-301marzo.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- include('../gtmBody.ejs') %>

    <div class="pg-landing-301-bg">

      <%- include('form-301-marzo.ejs') %>


    </div>


    <div style="display: none;" class="pg-carrusel animated fadeIn">
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/301marzo/carrusel/carrusel1.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> PEUGEOT 301: </strong> Robusto y fiable, el sedán 301 goza de la destreza técnica de la marca. Tan elegante como un <strong>Eurotrip</strong>. GASOLINA / DIESEL. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/301marzo/carrusel/carrusel2.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> DISEÑO: </strong> El 301 afirma su identidad en el diseño característico de su máscara, con un espacio interior asombroso y una figura adaptable al terreno, prometiendo un comportamiento en carretera eficaz. Toques de cromo añaden a la atmósfera toques de elegancia. Porque la vida al volante del 301 no sólo debe ofrecer mayor placer, sino también ser más atractiva a la vista. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a></span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/301marzo/carrusel/carrusel3.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> INTERIOR: </strong> El ambiente interior del 301 tienen una matriz en monocromo que muestra los datos del ordenador a bordo. Informaciones que conciernen al trayecto así como también las velocidades. Para un estilo aún más distintivo, tiene disponible un anillo cromado. <strong> TECNOLOGIA: </strong> Regulador y Limitador de velocidad. Ayuda de estacionamiento trasera. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/301marzo/carrusel/carrusel4.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> MALETERO: </strong> El maletero del 301 tiene una capacidad total de 506 litros. Un emplazamiento astuto debajo del piso del maletero permite guardar objetos usuales o reglamentarios. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/301marzo/carrusel/carrusel5.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> MODULARIDAD: </strong>  Los respaldos de la banqueta trasera, fraccionables en 2/3 - 1/3, se abaten de manera simple e intuitiva. Con una sola acción y con una sola mano puedes efectuar la maniobra mediante los mandos específicos situados en la parte de arriba de cada uno de los respaldos de los asientos traseros. <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/301marzo/carrusel/carrusel6.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> <strong> SEGURIDAD: </strong> El 301 propone el sistema de control de trayectoria ESP. Tecnología de frenado ultrasegura, reagrupa las funciones ABS. El Antibloqueo de las Ruedas (ABS) controla la trayectoria durante la frenada de urgencia. 4 airbags. Cinturones de seguridad equipados con sistema de pretensión pirotécnica. equipado con unos puntos de anclaje ISOFIX en las dos plazas laterales traseras del vehículo, para poner asientos de niño con toda seguridad.<a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
                      peugeot.com.ec
                    </a> </span>

        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/301marzo/carrusel/carrusel7.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text">  Tan elegante como un <strong>Eurotrip</strong>. GASOLINA / DIESEL.</span>
        </div>
      </div>
    </div>


    <%- include('../footer.ejs') %>

    <script>
      getDeferrer();
    </script>

  </body>
</html>
