<!DOCTYPE html>
<html>
  <head>
    <title>Promociones Peugeot</title>
    <link rel='stylesheet' href='/stylesheets/landing-eurotrip.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/form-eurotrip.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="pg-landing-301-bg">

      <%- include('form-eurotrip.ejs') %>


    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
