<div class="pg-see-more">
  <i class="material-icons animated infinite pulse ">
    more_horiz
  </i>
</div>

<div class="pg-see-less">
  <i class="material-icons">
    close
  </i>
</div>

<div class="animated fadeIn pg-footer-links">
  <!-- <a class="pg-footer-link" href="/eurotrip"> Vive el mejor Eurotrip de tu vida </a> -->
  <a class="pg-footer-link" href="/gama-suv-peugeot?from=landingPage"> GAMA SUV: 2008 | 3008 | 5008</a>
  <a class="pg-footer-link" href="/the-lion-moment?from=landingPage"> The Lion Moment: Rugen las Utilidades - Peugeot 301</a>
  <a class="pg-footer-link" href="/nuevo-3008-active?from=landingPage"> Nuevo 3008 Active</a>
  <a class="pg-footer-link" href="/nuevo-3008-gtline?from=landingPage"> Nuevo 3008 GT Line</a>
  <!-- <a class="pg-footer-link" href="/301-diesel"> 301 Diesel: Equipado para vivir lo extraordinario </a> -->
  <a class="pg-footer-link" href="/servicios-postventa?from=landingPage"> Servicios Postventa </a>
</div>

<div class="pg-footer">
  <div class="pg-footer-first-box">
    <div class="pg-footer-big">
      AUTO<strong>FRANCIA</strong>
    </div>
    <div class="pg-footer-info">
      <strong>BLUE BOX GUAYAQUIL:</strong> Av. Juan Tanca Marengo Km 6.5 pasando el Colegio Americano. Telf.: +593 (4) 3 704 730 / +593 (4) 3 726 630 <strong>PEUGEOT CITY:</strong>
      Village Plaza Planta Baja Km.1.5 Vía Samborondón. Telf.: +593 (4) 3 704 730 <strong>BLUE BOX QUITO:</strong> Av. Eloy Alfaro entre Gaspar de Villaroel y Granados. PBX:
      +593 (2) 3 933 770 / +593 (2) 3 949 200 <strong>EL CONDADO SHOPPING:</strong> Nivel 2 <strong>BLUE BOX CUENCA:</strong> Av. Gil Ramirez Dávalos y de las Laderas Telf.: +593
      (7) 5 001 021 / +593 (7) 3 700 860 <strong>BLUE BOX SANTO DOMINGO:</strong> Av. Quevedo km 3, diagonal a Hipermercado Coral Telf.: +593 (2) 3 836 380. <strong>NOTA LEGAL:</strong>
      Imágenes y características del vehículo son referenciales con fines publicitarios. Precios, características y equipamiento pueden variar de acuerdo a la versión y pueden cambiar sin previo aviso.
      Términos y condiciones, consúltelos con un asesor comercial de Corporación Nexum Nexumcorp S.A. y su red de concesionarios. Aplican restricciones.
    </div>
  </div>
  <div class="pg-footer-second-box">
    <div class="pg-footer-first-box">
      <div class="pg-footer-big">
        <a href="https://www.peugeot.com.ec" class="pg-footer-link" target="_blank">
          peugeot.com.ec
        </a>
      </div>
      <div class="pg-footer-contact">
        <strong> Facebook: </strong> peugeotEC | <strong> Whatsapp: </strong> 0939047733
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.2/multiple-select.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/javascripts/general.js"></script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '548308308999097');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=548308308999097&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- ZOHO SALESIQ -->
<script type="text/javascript">
var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq ||
{widgetcode:"fca023d41369b102f674653bfbad40ae8773efd594d827d38972098434ea4d4f6e5f93d6453259ced09a7ab59dbcb438", values:{},ready:function(){}};
var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
</script>
<!-- END OF ZOHO SALESIQ -->

<!-- TAP TAP PIXEL -->
<script type="text/javascript">
  (function () {
      console.log("pixel de tap tap")
      var eventType = 'section';
      var incs = [{"time":5000,"name":"5s"},{"time":10000,"name":"10s"},{"time":15000,"name":"15s"},{"time":30000,"name":"30s"},{"time":60000,"name":"60s"},{"time":90000,"name":"90s"},{"time":120000,"name":"120s"}];
      var targetUrl = 'https://ads.sonataplatform.com/pixel/attribution/5cae2852a3e9ec00383d1b76';
      var container = document.createElement('div');
      container.id = 'ttAttrib';

      function getSection() {
          if (document.getElementsByTagName('BODY').length > 0) {
              return document.getElementsByTagName('BODY')[0];
          }

          return document.getElementsByTagName('HEAD')[0];
      }

      function insertPixel(event, permanenceTimeMs) {
          var px = document.createElement('img');

          px.src = targetUrl + '?type=' + event + '&permanence=' + permanenceTimeMs + '&ts=' + Date.now();
          px.style = 'position:absolute;top:0;left:-9999px;';
          px.width = 1;
          px.height = 1;


          getSection().appendChild(container);
          document.getElementById('ttAttrib').appendChild(px);
      }

      insertPixel(eventType, 0);

      incs.forEach(function(inc) {
          window.setTimeout(insertPixel.bind(null, eventType, inc.time), inc.time);
      });

  })();
</script>
<!-- END TAP TAP PIXEL -->
