<!DOCTYPE html>
<html>
  <head>
    <title>Promociones Peugeot</title>
    <link rel='stylesheet' href='/stylesheets/landing1.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/form1.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="pg-landing-301-bg">
      <div class="pg-landing-301-navbar">
        <img class="pg-landing-logo" src="/images/logo.png"/>
      </div>

      <%- include('form-301.ejs') %>


    </div>
  </body>
</html>
