<!DOCTYPE html>
<html>
  <head>

    <%- include('../header.ejs') %>

    <title>Promociones Peugeot - Ecuador</title>
    <meta name="description" content="Encuentra las últimas promociones y novedades acerca de vehículos Peugeot en Ecuador. Motion & Emotion. 3008 Active | Nueva versión">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.2/multiple-select.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css"/>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/3008-active/form.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/3008-active/landing.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- include('../gtmBody.ejs') %>

    <div class="pg-landing-301-bg">

      <%- include('form.ejs') %>


    </div>


    <div style="display: none;" class="pg-carrusel animated fadeIn">
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/3008active/carrusel/1.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> Una verdadera encarnación del automóvil moderno, seguro, tecnológico, creador de emociones y placer es el Nuevo SUV PEUGEOT 3008. Un vehículo pensado para los conductores que quieren nuevas experiencias alcanzando una interacción intuitiva y sensorial. </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/3008active/carrusel/2.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> El Nuevo SUV PEUGEOT 3008 revela su fuerza y carácter. Con un notable diseño, este SUV afirma su robustez sin perder la elegancia. A bordo del Nuevo SUV PEUGEOT 3008, experimenta un universo sensorial y tecnológico, y vive una experiencia de conducción amplificada. </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/3008active/carrusel/3.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text"> El Nuevo SUV PEUGEOT 3008 posee un carácter único y vigoroso. Su línea es sublimada por un techo Black Diamond de color negro brillante. En la parte trasera, el estilo es ultramoderno e icónico, con una banda horizontal de color negro brillante integrando faros LED de 3 garras, que se iluminan de noche y de día. </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/3008active/carrusel/4.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text">  Crea tu propio espacio interior con el sistema «Magic Flat» y su banqueta rebatible 2/3-1/3 que deja lugar a un suelo plano. Guarda tu equipaje a tu gusto con el increíble suelo deslizante de 2 posiciones y transporta incluso objetos de grandes dimensiones gracias al asiento del acompañante abatible.  </span>
        </div>
      </div>
      <div class="pg-carrusel-div">
        <img class="pg-carrusel-image" src='/images/3008active/carrusel/5.jpg'>
        <div class="pg-carrusel-text-box">
          <span class="pg-carrusel-text">  El Nuevo SUV PEUGEOT 3008 posee faros afinados, con coberturas negras y cromadas que afirman la modernidad y la identidad felina del nuevo SUV. Estos faros integran luces diurnas LED y un detalleque sube por el bloque óptico en definición Full LED </span>
        </div>
      </div>
    </div>


    <%- include('../footer.ejs') %>

    <script>
      getDeferrer();
    </script>

    <script>
      // Here the mounted function is same as $(function() {})
      function mounted() {
        $('.multipleselect').multipleSelect({
          selectAll: false
        })
      }
      mounted();
    </script>

  </body>
</html>
