<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/iframe-landing-postventa.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/iframe-form-postventa.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.2/multiple-select.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="pg-landing-301-bg">
        <tr>
            <td style="padding: 16px; background-color: #f1f3f2 !important;">
              <span style="color: #557e9c !important;"> Su solicitud ha sido recibida </span>
            </td>
          </tr>
    </div>
</body>

</html>