@font-face {
  font-family: "PEUGEOT";
  src: url("/stylesheets/fonts/Peugeot.otf");
}
@font-face {
  font-family: "PEUGEOT";
  src: url("/stylesheets/fonts/Peugeot Bold.otf");
  font-weight: bold;
}
@font-face {
    font-family: "PEUGEOT";
    src: url("/stylesheets/fonts/Peugeot Expanded Light.otf");
    font-style: italic;
}
body, html{
  font-family: "PEUGEOT" !important;
}

textarea::-webkit-input-placeholder {
  font-family: 'PEUGEOT', sans-serif;
}

textarea:-moz-placeholder { /* Firefox 18- */
  font-family: 'PEUGEOT', sans-serif;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'PEUGEOT', sans-serif;
}

textarea:-ms-input-placeholder {
  font-family: 'PEUGEOT', sans-serif;
}


input::-webkit-input-placeholder {
  font-family: 'PEUGEOT', sans-serif !important;
}

input:-moz-placeholder { /* Firefox 18- */
  font-family: 'PEUGEOT', sans-serif !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'PEUGEOT', sans-serif !important;
}

input:-ms-input-placeholder {
  font-family: 'PEUGEOT', sans-serif !important;
}

button, .btn, .btn-2{
  font-family: 'PEUGEOT', sans-serif !important;
}


.pg-footer-links{
  font-family: 'PEUGEOT', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 50px;
  left: 50%;
  opacity: 1;
  margin-left: -150px;
  padding: 16px;
  color: black;
  width: 300px;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 2;
  transition: all 0.5s ease;
}

.pg-see-more{
  cursor: pointer;
  opacity: 1;
  font-family: 'PEUGEOT', sans-serif;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -15px;
  padding: 8px;
  height: 20px;
  color: white;
  width: 30px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 2;
  transition: all 0.5s ease;
  opacity: 0.4;
}

.pg-see-more:hover{
  opacity: 1
}

.pg-see-less{
  cursor: pointer;
  opacity: 1;
  font-family: 'PEUGEOT', sans-serif;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -15px;
  padding: 8px;
  height: 20px;
  color: white;
  width: 30px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 2;
  transition: all 0.5s ease;
}

.pg-dimmed-glass{
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: all 0.5s ease;
}


.pg-footer-link{
  text-decoration: none !important;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
  transition: all 0.5s ease;
}

.pg-footer-link:hover{
  border-bottom: 4px solid #ccc;
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

  .pg-see-more, .pg-see-less{
    top: 0;
    left: 16px !important;
  }

  .pg-footer-links{
    width: 200px;
    margin-left: -115px;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .pg-see-more, .pg-see-less{
    top: 0;
    left: 16px !important;
  }

  .pg-footer-links{
    width: 200px;
    margin-left: -115px;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .pg-see-more, .pg-see-less{
    top: 0;
    left: 16px !important;
  }

  .pg-footer-links{
    width: 200px;
    margin-left: -115px;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .pg-see-more, .pg-see-less{
    top: 0;
    left: 16px !important;
  }

  .pg-footer-links{
    width: 200px;
    margin-left: -115px;
  }

}

.pg-footer{
  position: relative;
  display: flex;
  z-index: -1;
  flex-direction: column;
  padding: 16px;
  flex-wrap: wrap;
  background-color: #e6e6e6;
  color: black;
  flex-grow: 1;
  margin: 0px !important;
}

.pg-footer-first-box, .pg-footer-second-box{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  text-align: justify;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.pg-footer-big{
  font-size: 14px;
  align-self: center;
  margin-right: 8px;
}

.pg-footer-info{
  font-size: 10px;
  text-align: justify;
  align-self: center;
}

.pg-footer-contact{
  font-size: 12px;
}

.pg-carrusel-text{
  align-self: center;
  text-align: justify;
  font-size: 12px;
}

.pg-carrusel{
  width: 450px;
  left: 50%;
  margin-left: -225px;
  position: fixed;
  top: 10%;
  z-index: 3;
}

.pg-carrusel-image{
  max-height: 450px;
  max-width: 450px;
}

.pg-carrusel-div{
  display: flex !important;
  flex-direction: column;
}

.pg-carrusel-text-box{
  padding: 16px;
  background-color: #e6e6e6;
  justify-content: center;
  display: flex;
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

  .pg-carrusel{
    width: 450px;
    left: 50%;
    margin-left: -225px;
    position: fixed;
    top: 10%;
    z-index: 3;
  }

  .pg-carrusel-image{
    max-height: 450px;
    max-width: 450px;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .pg-carrusel{
    width: 450px;
    left: 50%;
    margin-left: -225px;
    position: fixed;
    top: 10%;
    z-index: 3;
  }

  .pg-carrusel-image{
    max-height: 450px;
    max-width: 450px;
  }

  .slick-arrow{
    visibility: hidden !important;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .pg-carrusel{
    width: 300px;
    left: 50%;
    margin-left: -150px;
    position: fixed;
    top: 10%;
    z-index: 3;
  }

  .pg-carrusel-image{
    max-height: 300px;
    max-width: 300px;
  }

  .slick-arrow{
    visibility: hidden !important;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .pg-carrusel{
    width: 300px;
    left: 50%;
    margin-left: -150px;
    position: fixed;
    top: 10%;
    z-index: 3;
  }

  .slick-arrow{
    visibility: hidden !important;
  }

  .pg-carrusel-image{
    max-height: 300px;
    max-width: 300px;
  }

}
