<!DOCTYPE html>
<html>
  <head>

    <%- include('../header.ejs') %>

    <title>Promociones Peugeot - Ecuador</title>
    <meta name="description" content="Encuentra las últimas promociones y novedades acerca de vehículos Peugeot en Ecuador. Motion & Emotion. 301 Diesel | Eurotrip">
    <meta name="robots" content="index, follow">
    <link rel='stylesheet' href='/stylesheets/landing-301diesel.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/form-301diesel.css' />
    <link rel="icon" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- include('../gtmBody.ejs') %>

    <div class="pg-landing-301-bg">
      <div class="pg-landing-301-navbar">
        <img class="pg-landing-logo" src="/images/logo.png"/>
      </div>

      <%- include('form-301.ejs') %>


    </div>
    <%- include('../footer.ejs') %>

  </body>
</html>
