<!DOCTYPE html>
<html>
  <head>

    <%- include('../header.ejs') %>

    <title>Promociones Peugeot</title>
    <link rel='stylesheet' href='/stylesheets/landing-301diesel.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/form-301diesel.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- include('../gtmBody.ejs') %>

    <div class="pg-landing-301-bg">
      <div class="pg-landing-301-navbar">
        <img class="pg-landing-logo" src="/images/logo.png"/>
      </div>

      <%- include('form-301.ejs') %>


    </div>
    <%- include('../footer.ejs') %>

  </body>
</html>
